<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Added Successfully</title>
</head>
<body>
    <h1>Student Added Successfully!</h1>
    <!-- Your success message or any additional content here -->
    
    <!-- Add a button to go back to the 'add-student' page -->
    <a href="{% url 'AddStudentView' %}"><button>Go Back to Add Student</button></a>
</body>
</html>

